.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(30, 30, 30);
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: none;
    word-wrap: break-word;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: inset 0px 0px 5px 8px black;
    min-height: 600px;
    min-width: 300px;
    margin: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.box h1 {
    color: black;
    font-size: 1cm;
}
.box:hover {
    transition: 0.8s;
}
.box:hover h1 {
    display: none;
}
.box:nth-child(1) {
    background-image: url(/button/1.webp);
}
.box:nth-child(1):hover{
    background-image: url(/button/hover/1.webp);
}
.box:nth-child(2) {
    background-image: url(/button/2.webp);
}
.box:nth-child(2):hover{
    background-image: url(/button/hover/2.webp);
}
.box:nth-child(3) {
    background-image: url(/button/3.webp);
}
.box:nth-child(3):hover{
    background-image: url(/button/hover/3.webp);
}
.box:nth-child(4) {
    background-image: url(/button/4.webp);
}
.box:nth-child(4):hover{
    background-image: url(/button/hover/4.webp);
}
@media only screen and (max-width:1440px){
    .box{
        margin: 100px;
    }
}
